.row {
  display: flex;
  flex-wrap: wrap; }

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%; }

.col-1 {
  flex: 0 0 8.33333%;
  max-width: 8.33333%; }

.col-2 {
  flex: 0 0 16.66667%;
  max-width: 16.66667%; }

.col-3 {
  flex: 0 0 25%;
  max-width: 25%; }

.col-4 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-7 {
  flex: 0 0 58.33333%;
  max-width: 58.33333%; }

.col-8 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }

.col-9 {
  flex: 0 0 75%;
  max-width: 75%; }

.col-10 {
  flex: 0 0 83.33333%;
  max-width: 83.33333%; }

.col-11 {
  flex: 0 0 91.66667%;
  max-width: 91.66667%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

@media screen and (min-width: 768px) {
  .col-md {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-md-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-md-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-md-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-md-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-md-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-md-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 992px) {
  .col-lg {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-lg-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-lg-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-lg-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-lg-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-lg-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-lg-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

@media screen and (min-width: 1200px) {
  .col-xl {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%; }
  .col-xl-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%; }
  .col-xl-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%; }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%; }
  .col-xl-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }
  .col-xl-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%; }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; }
  .col-xl-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%; }
  .col-xl-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%; }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%; }
  .col-xl-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%; }
  .col-xl-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%; }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%; } }

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  font-size: 16px;
  font-family: 'Noto Sans SC', sans-serif; }

body {
  width: 100%; }

img {
  width: 100%;
  height: auto; }

.wrap {
  width: 100%;
  max-width: 90%;
  margin: 0 auto; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

h1, h2, h3, h4, p {
  color: #1d1d1d; }

.btn {
  display: inline-block;
  text-decoration: none;
  padding: 0.7rem 2rem;
  color: #E4E3E3;
  background-color: #3b6970;
  border-radius: 5px;
  margin-top: 2rem; }
  .btn:hover {
    background-color: #84A9AC; }

@media screen and (min-width: 1200px) {
  .wrap {
    max-width: 1140px; } }

.l-header {
  background-color: #f8f8f8;
  height: 3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100%; }
  .l-header .wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3rem; }

.l-header-logo h1 {
  color: #1d1d1d; }

.l-header-nav-menu-ham-icon {
  display: block;
  height: 5rem;
  position: relative; }

.l-header-nav-menu-main {
  display: none;
  position: absolute;
  background-color: black;
  left: 0;
  top: 0;
  width: 75%;
  height: 100vh;
  opacity: 0.9;
  z-index: 99999; }
  .l-header-nav-menu-main ul {
    padding: 0;
    margin: 0; }
  .l-header-nav-menu-main li {
    list-style: none;
    display: block; }
  .l-header-nav-menu-main a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f8f8f8;
    display: inline-block;
    padding: 1rem .6rem; }
  .l-header-nav-menu-main a.is-active {
    color: #84A9AC; }
  .l-header-nav-menu-main a:hover {
    color: #84A9AC; }

.l-header-nav-menu-ham-icon .icon {
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: 0;
  height: 3px;
  width: 20px;
  background-color: #1d1d1d;
  transition: all 0.3s; }

.l-header-nav-menu-ham-icon .icon::after {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 3px;
  width: 20px;
  background-color: #1d1d1d;
  transition: all 0.3s; }

.l-header-nav-menu-ham-icon .icon::before {
  content: "";
  position: absolute;
  top: -5px;
  height: 3px;
  width: 20px;
  background-color: #1d1d1d;
  transition: all 0.3s; }

.l-header-nav-menu-ham-icon.cross > .icon {
  background-color: #f8f8f8;
  transition: background-color 0.3s; }

.l-header-nav-menu-ham-icon.cross > .icon::after {
  transform: rotate(-45deg);
  bottom: 0;
  transition: all 0.3s; }

.l-header-nav-menu-ham-icon.cross > .icon::before {
  transform: rotate(45deg);
  top: 0;
  transition: all 0.3s; }

.l-header-nav-menu-main.is-active {
  display: block;
  animation: animation 1s; }

@keyframes animation {
  from {
    transform: translate(-1000px); }
  to {
    transform: translate(0px); } }

.l-main {
  filter: none; }

.l-main.is-active {
  filter: blur(5px) grayscale(70%); }

@media screen and (min-width: 768px) {
  .l-header-nav-menu-ham-icon {
    display: none; }
  .l-header-nav-menu-main {
    display: block;
    position: static;
    background-color: transparent;
    opacity: 1;
    width: 100%;
    height: auto; }
    .l-header-nav-menu-main li, .l-header-nav-menu-main a {
      display: inline-block; }
    .l-header-nav-menu-main a {
      color: #1d1d1d; } }

.m-home-infobox {
  background-color: #204051;
  margin-top: 3rem;
  padding-bottom: 2rem; }

.m-home-infobox-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh; }
  .m-home-infobox-content h3 {
    font-size: 2rem;
    color: #E4E3E3; }
  .m-home-infobox-content h3:nth-child(1) {
    margin-bottom: 1rem; }
  .m-home-infobox-content h1 {
    letter-spacing: 0.3rem;
    font-size: 6rem;
    margin-top: 2rem;
    color: #E4E3E3; }
    .m-home-infobox-content h1 span {
      display: inline-block;
      opacity: 0;
      animation: animate 1s linear forwards; }

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg); }
  100% {
    opacity: 1;
    transform: rotateY(0deg); } }

.m-home-infobox h1 span:nth-child(1) {
  animation-delay: 0.5s; }

.m-home-infobox h1 span:nth-child(2) {
  animation-delay: 1s; }

.m-home-infobox h1 span:nth-child(3) {
  animation-delay: 1.5s; }

.m-home-infobox h1 span:nth-child(4) {
  animation-delay: 2s; }

.m-home-infobox h1 span:nth-child(5) {
  animation-delay: 2.5s; }

.m-home-infobox-content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 50vh; }

.m-home-infobox-content-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; }
  .m-home-infobox-content-image img {
    width: 80%;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%); }

@media screen and (min-width: 768px) {
  .m-home-infobox-content-text, .m-home-infobox-content-image {
    height: 100vh; } }

.m-home-cv {
  padding: 5rem 0 5rem 0; }

.m-home-cv-intro {
  text-align: center;
  display: block;
  padding-bottom: 3rem; }
  .m-home-cv-intro h1 {
    padding-bottom: 1rem; }

.m-home-cv-boxes {
  text-align: center; }

.cv-box-intro span {
  font-size: 2rem;
  color: #1d1d1d;
  display: block;
  padding-bottom: 1rem; }

.cv-box {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 1rem 0;
  border: 1px solid #3b6970;
  box-shadow: 2px 6px 7px #204051;
  border-radius: 10px; }
  .cv-box h2, .cv-box p {
    display: block;
    padding-bottom: 1.5rem; }
  .cv-box p {
    padding-left: 1rem;
    padding-right: 1rem; }
  .cv-box .btn {
    display: inline-block; }

@media screen and (min-width: 768px) {
  .cv-box {
    margin: 1rem; } }

.m-home-portfolio {
  background-color: #f8f8f8; }

.m-home-portfolio-intro {
  text-align: center;
  display: block;
  padding: 5rem 0 3rem 0; }
  .m-home-portfolio-intro h1 {
    padding-bottom: 1rem; }

.m-home-portfolio-area-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35rem; }
  .m-home-portfolio-area-box h2 {
    text-transform: capitalize;
    margin: 1rem 0; }
    .m-home-portfolio-area-box h2 a {
      text-decoration: none;
      color: #1d1d1d; }
      .m-home-portfolio-area-box h2 a:hover {
        color: #84A9AC; }

.m-home-portfolio-area-box-illustration {
  background-color: #3b6970;
  border-radius: 10px;
  display: block;
  position: relative;
  z-index: 1;
  background-color: #84A9AC;
  background-image: linear-gradient(to right, #84A9AC, #3b6970); }
  .m-home-portfolio-area-box-illustration img {
    height: 20rem;
    border-radius: 10px;
    display: block; }
  .m-home-portfolio-area-box-illustration:hover .m-home-portfolio-area-box-icon {
    display: block; }
  .m-home-portfolio-area-box-illustration:hover .m-home-portfolio-area-box-pic img {
    opacity: 0.1; }

.m-home-portfolio-area-box-icon {
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; }
  .m-home-portfolio-area-box-icon img {
    height: auto; }

@media screen and (min-width: 768px) {
  .m-home-portfolio-area-box {
    margin: 0.5rem; } }
