//Mini reset
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

//basics

html {
    font-size: 15px;
    font-family: 'Noto Sans SC', sans-serif;
}

body {
    width: 100%;     
}

img {
    width: 100%;
    height: auto;
}

.wrap { 
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 0.7rem 2rem;
    color: map-get($map: $colors, $key: 'main1');
    background-color: map-get($map: $colors, $key: 'main2');
    border-radius: 5px;
    margin-top: 2rem;
    &:hover {
        border: 0.1rem white solid;
    }
}

//Media Query for large PC
@media screen and (min-width: 1200px) {
    .wrap {
        max-width: 1140px;
    }
}