//Variables for color map
$colors: (
    'main1': #f8f8f8,
    'main2': #84A9AC,
    'main3': #3b6970,
    'main4': #204051,    
    'txt': rgb(29, 29, 29),
    'btn': #E4E3E3   
);

//Variables for grid sytem - loop in grid.scss
$grid-columns: 12;

$screen-sizes: (
    'md': 768px, //Breakpoint from smartphone to tablette
    'lg': 992px, //Breakpoint from tablette to PC
    'xl': 1200px //Breakpoint from PC to large PC
);

//variable list for font-size titels
$font-size: (
    1.8rem,
    1.6rem,
    1.4rem,
    1.2rem
);