.m-home-cv {
    padding: 5rem 0 5rem 0;
}

.m-home-cv-intro {
    text-align: center;
    display: block;
    padding-bottom: 3rem;
    h1 {
        padding-bottom: 1rem;
    }
}

.m-home-cv-boxes {
    text-align: center;
}

.cv-box-intro {
    span {
        font-size: 2rem;
        color: map-get($map: $colors, $key: 'txt');
        display: block;
        padding-bottom: 1rem;
    }
}

.cv-box {
    height: 20rem;    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;   
    border: 1px solid map-get($map: $colors, $key: 'main3'); 
    box-shadow: 2px 6px 7px map-get($map: $colors, $key: 'main4');
    border-radius: 10px;
    h2, p {
        display: block;
        padding-bottom: 1.5rem;
    }
    p {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .btn {
        display: inline-block;
    }
}

//Media Query for tablette
@media screen and (min-width: 768px) {
    .cv-box{
        margin: 1rem;
    }
}

 